---
layout: default
---

<article class="post">
  <h1>[{{page.category}}] {{ page.title }}</h1>
  <i>A challenge from {{page.ctf}}</i> - <div class="date">Written on {{ page.date | date: "%B %e, %Y" }}</div>

  <div class="entry">
    {{ content }}
  </div>
  
  <div class="footer">
    <b>Great that you read this blogpost!</b></br>
    Haven't you solved the challenge yourself? No worries. You are reading this explanation and learning from it, which is great! 
    I want to encourage you to keep doing this in the future. Please make sure you understand not only the technical path 
    to the solution, but also the choices made along that path. If you have any questions or comments, or if anything is unclear; 
    please do not hesitate to leave a comment below!
  </div>

  {% include disqus.html %}
</article>
